# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache
*.iml
*.md.html
*.Rproj
*.Rproj.*
# OS or Editor folders
.DS_Store
.cache
.project
.settings
.tmproj
nbproject
Thumbs.db
config.json
# Folders to ignore
.hg
.svn
.CVS
intermediate
publish
classes
target
out
.idea
.gradle
build
.Rprofile
# Build stuff
.Rbuildignore
.Rhistory
dependency-reduced-pom.xml
packrat/lib*/
.Rproj.user
looker.ini
