Package: {{{packageName}}}
Version: {{{packageVersion}}}
Date: {{{generatedDate}}}
Title: LookR
Authors@R: c(person("Mike", "DeAngelo", role = c("aut", "cre"), email = "drstrangelove@google.com"))
Depends: R (>= 3.4.3)
Imports: R6, httr, configr, jsonlite
License: MIT + file LICENSE
Description: Software Development Kit for connecting to Looker and making requests via the API. Built on top of bindings generated automatically using Swagger.
URL: https://github.com/looker/lookr
BugReports: https://github.com/looker-open-source/lookr/issues
Suggests: testthat, httpuv
Encoding: UTF-8
RoxygenNote: 7.1.2
